<% @posts.each do |post| %>
<div class="post">
<h2 class="title"><%= link_to post.title,post %></h2>
<div class="entry">
  <p> <%= post.body %> </p>
</div>
<small><%= post.created_at.strftime("%d %b %Y")%></small><br>
  Criado por <%= post.admin_user.name %>
<div class="byline">
							<p class="links"> <%= link_to "Leia Mais",post %> </p>
						</div>
</div>

<% end %>
