<h1> Novo Post </h1>
<%= form_for @post do |f| %>
  <p>
    <%= f.label "Título" %><br>
    <%= f.text_field :title %><br>
  </p>
  <p>
    <%= f.label "Posts" %><br>
    <%= f.text_area :body %><br>
  </p>
  <p>
  <%= f.select :category_id, @category.map {|x| [x.name,x.id]} , {include_blank: "Selecione uma opção"} %> <br>

</p>
<p>
  <%= f.submit "Criar" %><br>
</p>

<% end %>
