<h1> Posts suco de uva </h1>
<h3><%= @post.title %></h3>
<p> <%= @post.body %> </p>
<small><%= @post.created_at.strftime("%d %b %Y")%></small><br>
<%= link_to "Editar Post", edit_post_path %> |
<%= link_to "Deletar Post", @post, data:{confirm: "Tem certeza que quer excluir?"}, method: :delete %>
