<h1> Posts suco de uva </h1>
<h3><%= @post.title %></h3>
<p> <%= @post.body %> </p>
<small><%= @post.created_at.strftime("%d %b %Y")%></small><br>
<p> Categoria: <%= link_to @post.category.name, @post.category%> </p>
<p> <%= link_to "Voltar", posts_path %> </p>
